<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--公共js css-->
    <script src="/common/commonCss.js"></script>
    <script src="/common/commonJs.js"></script>
</head>
<body>
    <div id="toolbar">
        <button class="btn btn-primary" onclick="toAdd()">增加</button>
    </div>
    <table id="table"></table>
</body>
<script>
    $(function (){
        getData()
    });

    function getData() {
        $("#table").bootstrapTable({
            url: "/webPrice/getCourierPriceList",   //请求后台的URL（*）
            method: 'GET',                      //请求方式（*）
            striped: true,                      //是否显示行间隔色
            toolbar: '#toolbar',                //工具按钮用哪个容器
            pagination: false,                  //是否显示分页（*）
            // pageNumber: 1,                   //初始化加载第一页，默认第一页,并记录
            // pageSize: 2,                     //每页的记录行数（*）
            // pageList: [2, 5, 8, 10],         //可供选择的每页的行数（*）
            // sidePagination: "server",        //分页方式：client客户端分页，server服务端分页（*）
            search: false,                      //是否显示表格搜索
            showColumns: true,                  //是否显示所有的列（选择显示的列）
            showRefresh: true,                  //是否显示刷新按钮
            clickToSelect: true,                //是否启用点击选中行
            uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
            showToggle: true,                   //是否显示详细视图和列表视图的切换按钮
            smartDisplay: false,
            columns: [{
                checkbox: true,
                visible: true                  //是否显示复选框
            }, {
                field: 'id',
                title: 'ID'
            }, {
                field: 'siteId',
                title: '配送点ID'
            }, {
                field: 'siteScope',
                title: '配送范围(KM)'
            }, {
                field: 'weightPrice',
                title: '单位重量价格(KG/元)'
            }, {
                field: 'volumePrice',
                title: '单位体积价格(m3/元)'
            }, {
                field: 'remark',
                title: '备注'
            }, {
                field: 'id',
                title: '操作',
                formatter: function (value, row, index) {
                    var result = "";
                    result += "<a href='javascript:;' class='btn btn-xs blue' onclick=\"toUpdate('" + value + "')\" title='编辑'><span class='glyphicon glyphicon-pencil'></span></a>";
                    result += "<a href='javascript:;' class='btn btn-xs red' onclick=\"dropInfo('" + value + "')\" title='删除'><span class='glyphicon glyphicon-remove'></span></a>";
                    return result;
                },

            }],
        })
    }

    function getRefresh(){
        $('#table').bootstrapTable("refresh")
    }

    function toAdd() {
        var message = $('<div></div>').load("/webPrice/toAddCourierPrice")
        mydialog("增加", message, "提交", 1);
    }

    function toUpdate(id) {
        var message = $('<div></div>').load("/webPrice/getCourierPriceById?id="+id)
        mydialog("修改", message, "提交", 2);
    }

    // 公共dialog   title:标题   content:内容   okValue:确认按钮字体   flag:执行哪种方法
    function mydialog(title, message, okValue, flag, id) {
        BootstrapDialog.show({
            title,
            message,
            buttons:[{
                label: "取消",
                action: function (dialog) {
                    dialog.close();
                }
            }, {
                label:okValue,
                action: function (dialog) {
                    if(flag == 1){
                        $.post("/webPrice/addCourierPrice", $("#insertForm").serialize(), function (res) {
                            if(res.code == 200){
                                toastr.success("添加成功")
                                getRefresh()
                            }
                        })
                    }else {
                        $.post("/webPrice/updateCourierPrice", $("#updateForm").serialize(), function (res) {
                            if(res.code == 200){
                                toastr.success("修改成功")
                                getRefresh()
                            }
                        })
                    }
                    dialog.close();
                }
            }]
        })
    }

    function dropInfo(id) {
        if(confirm("确认删除吗？")){
            $.post("/webPrice/deleteCourierPriceById",{id},function (res) {
                if(res.code == 200){
                    alert("删除成功")
                    getRefresh();
                }
            })
        }
    }
</script>
</html>