<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>修改专线线路运输价格</title>
</head>
<body>
    <form id="updateForm">
            <input type="hidden" name="priceId" th:value="${specialPrice.priceId}"><br/>
        线路ID:
            <select name="specialId">
                <option value="">请选择</option>
                <option th:each="special : ${list}" th:value="${special.id}" th:selected="${special.id == specialPrice.specialId}">[[${special.id}]]</option>
            </select><br/>
        首重(KG):
            <input type="text" name="firstKg" th:value="${specialPrice.firstKg}"><br/>
        首重价格(KG/元):
            <input type="text" name="firstKgPrice" th:value="${specialPrice.firstKgPrice}"><br/>
        次重(KG)：
            <input type="text" name="otherKg" th:value="${specialPrice.otherKg}"><br/>
        次重价格(KG/元)：
            <input type="text" name="otherKgPrice" th:value="${specialPrice.otherKgPrice}"><br/>
        首立方(m3)：
            <input type="text" name="firstStere" th:value="${specialPrice.firstStere}"><br/>
        首立方价格(m3/元)：
            <input type="text" name="firstSterePrice" th:value="${specialPrice.firstSterePrice}"><br/>
        次立方(m3)：
            <input type="text" name="otherStere" th:value="${specialPrice.otherStere}"><br/>
        次立方价格(m3/元)：
            <input type="text" name="otherSterePrice" th:value="${specialPrice.otherSterePrice}"><br/>
        备注：
            <textarea type="text" name="remake">[[${specialPrice.remake}]]</textarea><br/>
    </form>
</body>
</html>