<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--公共js css-->
    <script src="/common/commonCss.js"></script>
    <script src="/common/commonJs.js"></script>
</head>
<body>
权限选择:
<ul id="treeDemo" class="ztree"></ul>
</body>
<script>
    var setting = {
        check: {
            enable: true,
        },
        async: {
            enable: true,
            url: "/menu/getZtree",
            autoParam: ["id", "name=n", "level=lv"],
            otherParam: {"otherParam": "zTreeAsyncTest"},
        }, view: {
            addHoverDom: function (treeId, treeNode) {
                var aObj = $("#" + treeNode.tId + "_a"); // tId = permissionTree_1, ==> $("#permissionTree_1_a")
                // aObj.attr("href", "javascript:;");
                if (treeNode.editNameFlag || $("#btnGroup" + treeNode.tId).length > 0) return;
                var s = '<span id="btnGroup' + treeNode.tId + '">';
                if (treeNode.level == 0) {
                    s += '<a class="btn btn-info dropdown-toggle btn-xs" style="margin-left:10px;padding-top:0px;" onclick="addNode(' + treeNode.id + ')" href="#" >添加</a>';
                } else if (treeNode.level == 1) {
                    s += '<a class="btn btn-info dropdown-toggle btn-xs" style="margin-left:10px;padding-top:0px;"  onclick="editNode(' + treeNode.id + ')" href="#" title="修改权限信息">修改</a>';
                    if (treeNode.children == undefined) {
                        s += '<a class="btn btn-info dropdown-toggle btn-xs" style="margin-left:10px;padding-top:0px;" onclick="deleteNode(' + treeNode.id + ')" href="#" >删除</a>';
                    }
                    s += '<a class="btn btn-info dropdown-toggle btn-xs" style="margin-left:10px;padding-top:0px;" onclick="addNode(' + treeNode.id + ')" href="#" >添加</a>';
                } else if (treeNode.level == 2) {
                    s += '<a class="btn btn-info dropdown-toggle btn-xs" style="margin-left:10px;padding-top:0px;"  onclick="editNode(' + treeNode.id + ')" href="#" title="修改权限信息">修改</a>';
                    s += '<a class="btn btn-info dropdown-toggle btn-xs" style="margin-left:10px;padding-top:0px;" onclick="deleteNode(' + treeNode.id + ')" href="#">删除</a>';
                }
                s += '</span>';
                aObj.after(s);
            }
        }
    };
    init()

    function init() {
        $.fn.zTree.init($("#treeDemo"), setting);
    }

    //删除
    function deleteNode(id) {
        if (confirm("确认删除吗")) {
            $.ajax({
                url: "/menu/delete/",
                data: {id},
                type: "get",
                dataType: "json",
                async: true,
                success: function (result) {
                    if (result == 1) {
                        toastr.success("删除成功")
                        init();
                    } else {
                        toastr.success("删除失败")
                    }
                },
                error: function () {
                    toastr.error("删除异常")
                }
            })
        }

    }


    //修改
    function editNode(id) {
        BootstrapDialog.show({
            title: "修改",
            closable: false,
            message: $("<div></div>").load("/menu/toUpdate/" + id),
            buttons: [{
                label: "取消",
                action: function (d) {
                    d.close();
                }
            }, {
                label: "确认",
                action: function (d) {
                    $.ajax({
                        url: "/menu/update",
                        type: "post",
                        dataType: "json",
                        data: $("#updateForm").serialize(),
                        async: true,
                        success: function (result) {
                            if (result == 1) {
                                d.close();
                                init();
                                toastr.success("修改成功");
                            } else {
                                toastr.success("修改失败");
                            }
                        },
                        error: function () {
                            toastr.error("修改异常")
                        }
                    })
                }
            }]
        })
    }

    //增加
    function addNode(pid) {
        BootstrapDialog.show({
            title: "增加",
            closable: false,
            message: $("<div></div>").load("/menu/toinsert/" + pid),
            buttons: [{
                label: "取消",
                action: function (d) {
                    d.close();
                }
            }, {
                label: "确认",
                action: function (d) {
                    $.ajax({
                        url: "/menu/insertInTo",
                        type: "post",
                        dataType: "json",
                        data: $("#addForm").serialize(),
                        async: true,
                        success: function (result) {
                            if (result == 1) {
                                d.close();
                                init();
                                toastr.success("增加成功");
                            } else {
                                toastr.success("增加失败");
                            }
                        },
                        error: function () {
                            toastr.error("增加异常")
                        }
                    })
                }
            }]
        })
    }
</script>
</html>